body, a, div, ul, li {
    margin: 0;
    padding: 0;
}

div.conten{
    margin-top: 60px;
    display: block;
    float: left;
    width:80%;
    min-height: 500px;
}
div.laterales{
    display: block;
    float: left;
    min-width: 10%;
    min-height: 1px;
}
div.imagens {
    width: 18%;
    float: left;
    min-height: 10px;
    margin: 1%;
    opacity: inherit;
}

div.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;  
    height: 52px;
    z-index: 5000;
}
div.horizontal li a:hover {
    background-color: #3e8e41;
    color: white;
    width: 100%;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 52px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style-type: none;
}

.dropdown-content > a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content > a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    width: 100%;
}

.dropdown:hover {
    background-color: #3e8e41;
}
.imagens > img{
    width: 100%;
 }
div.imagens:hover {
  height:100%;
  opacity: 0.6;
  cursor: zoom-in;
  }
.iniciofoto {
    margin-bottom: 50px;
    top: 50px;
    height:500px;
    width: 500px;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
    background-size:cover;
    
}

@media screen and (max-width:360px) {
    div.horizontal {
        display: none;   
    }
    
    div.imagens {
        width: 80%;
        float: left;
        min-height: 10px;
        margin: 1%;
        opacity: inherit;
    }
}

@media screen and (min-width:361px) and (max-width:799px) {
    div.horizontal {
        display: none;   
    }
    
    div.imagens {
        width: 31%;
        float: left;
        min-height: 10px;
        margin: 1%;
        opacity: inherit;
    }
    
    .logo {
        display: none;
    }
}

@media screen and (min-width:800px) {    
    div.imagens {
        width: 18%;
        float: left;
        min-height: 10px;
        margin: 1%;
        opacity: inherit;
    }
}
    
@keyframes myfirst {
    0%   {background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xlp1/v/t1.0-9/12729206_234625326875572_1227794327556330009_n.jpg?oh=64f9f403c2c5718e47aff15240934c64&oe=57872CCA); left:100px; }
    50%  {background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11914029_152469075091198_4394008355552448598_n.jpg?oh=f4ffd4346374d471a98e61fb588d0364&oe=5777A58F); left:400px; }
    100% {background-image:url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/12039717_169576823380423_6548154893331680264_n.jpg?oh=bd879afb830180328116573dbe386663&oe=5773E6B8) ; left:700px;}
}

.logo {
    background-color: #fbfbfb;
    border-radius: 50%;
    border: 1px solid #cccfd0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 50px;
    margin-right:10px;
}

.horizontal li img{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding:0;
    }
.horizontal li{
    float: left;
    min-width: 160px;
    list-style: none;
}

.horizontal li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
    list-style-type: none;
}

.horizontal > div {
    display: block;
    float: left;
}
